body {
    margin: 0px;
    padding-left: 8%;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 1900px) {

    body {
        padding-left: 4%;
        padding-right: 0;
    }

}

@media screen and (max-width: 1700px) {

    body {
        padding-left: 1%;
        padding-right: 0;
    }

}


@media screen and (max-width: 1500px) {

    #post5 {
        display: none;
    }
    #post-5 {
        display: none;
    }

    body {
        padding-left: 2%;
        padding-right: 0;
    }

    #login_model {
        left:20%;
        top: 20%;
    }

    #main_container_left_menu {
        width: 250px;
    }

}
    
